@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
	font-family: Anuphan;
	src: url(@/assets/fonts/Anuphan-ExtraLight.otf) format('opentype'),
		url(@/assets/fonts/Anuphan-ExtraLight.otf) format('opentype');
	font-weight: 100;
}

@font-face {
	font-family: Anuphan;
	src: url(@/assets/fonts/Anuphan-Light.otf) format('opentype'),
		url(@/assets/fonts/Anuphan-Light.otf) format('opentype');
	font-weight: 200;
}

@font-face {
	font-family: Anuphan;
	src: url(@/assets/fonts/Anuphan-Thin.otf) format('opentype'),
		url(@/assets/fonts/Anuphan-Thin.otf) format('opentype');
	font-weight: 300;
}

@font-face {
	font-family: Anuphan;
	src: url(@/assets/fonts/Anuphan-Regular.otf) format('opentype'),
		url(@/assets/fonts/Anuphan-Regular.otf) format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: Anuphan;
	src: url(@/assets/fonts/Anuphan-Medium.otf) format('opentype'),
		url(@/assets/fonts/Anuphan-Medium.otf) format('opentype');
	font-weight: 500;
}

@font-face {
	font-family: Anuphan;
	src: url(@/assets/fonts/Anuphan-SemiBold.otf) format('opentype'),
		url(@/assets/fonts/Anuphan-SemiBold.otf) format('opentype');
	font-weight: 600;
}

@font-face {
	font-family: Anuphan;
	src: url(@/assets/fonts/Anuphan-Bold.otf) format('opentype'),
		url(@/assets/fonts/Anuphan-Bold.otf) format('opentype');
	font-weight: 800;
}
