/* Write your global styles here, in PostCSS syntax */

* {
	font-family: Poppins;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

code {
	background-color: rgb(47, 49, 54);
	padding: 16px;
	border-radius: 12px;
	color: rgb(185, 187, 190);
	margin-left: 8px;
	margin-right: 8px;
}
